/*
Modelo de caja(box model)
-solo funciona en elementos display block 
-div es una etiqueta que tiene por defecto diplay block
-funciona si las cajas tienen algun contenido 
comportamiento por defecto: 
    -ocupa todo el ancho de la pantalla 
    -altura depende del contenido 
Funciona si
    -los elementos tienen contenido 
    -tienen un tamaño definido
    -100px solo se aplica al contenido interno del box 1 lo mismo que el weight
    exite lo que es el padding top 
    padding botton 
    border-top: 2px solid red;
    border-right: 10px dotted blue;
    border-bottom:  5px dashed yellow;
    border-right:  1px groove green; 


    Margin 

    _determina el espacion entre los elementops 
    -solo aplica en elementos display Block 
    -determinar el computo de las margenes
    Computado de margenes
    colapso de margenes 
    */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background: steelblue;
    padding: 50px 45px 3px;
    
}
.box1{
    margin: 20px 40px 60px 100px;
    background: steelblue;
    padding: 50px 35px 3px;
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: scroll;
    border-bottom-left-radius:10px ;
    border-top-left-radius:85px ;
    border-top-right-radius:60px ;
    border-bottom-right-radius:30px ;
}

.box2{
    background: #fa8072;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    padding: 60px;
    justify-content: center;
    text-align: center;
}




